<div class="page-container">
  <div class="page-header">
    <h2>{{ 'volunteers.title' | translate }}</h2>
  </div>

  <div class="volunteers-main-panel" [ngClass]="{ 'with-selection': selectedVolunteer }">

    <div class="volunteer-metrics-panel mat-elevation-z4">
      <h3 class="metrics">{{ 'volunteers.metrics' | translate }}</h3>
      <div class="metrics-cards">

        <div class="metric-card">
          <div class="metric-title">
            <mat-icon class="metric-icon">work</mat-icon>
            {{ 'volunteers.byProfession' | translate }}
          </div>
          <div class="metric-value profession-list-container">
            <ul class="profession-list">
              <li *ngFor="let profession of getProfessionKeys()">
                <div class="profession">
                  {{ profession }}:
                </div>
                <div class="profession-value">
                  {{ volunteersByProfession[profession] }}
                </div>
              </li>
            </ul>
          </div>
        </div>

        <div class="metric-card">
          <div class="metric-title">{{ 'volunteers.totalCertificates' | translate }}</div>
          <div class="metric-value">
            <mat-icon class="metric-icon">verified</mat-icon>
            <span>{{ totalCertificates }}</span>
          </div>
        </div>

        <div class="metric-card">
          <div class="metric-title">{{ 'volunteers.totalVolunteers' | translate }}</div>
          <div class="metric-value">
            <mat-icon class="metric-icon">group</mat-icon>
            <span>{{ totalVolunteers }}</span>
          </div>
          <div class="metric-change" [ngClass]="{'positive': totalVolunteersChange >= 0, 'negative': totalVolunteersChange < 0}">
            <mat-icon>
              {{ totalVolunteersChange >= 0 ? 'arrow_drop_up' : 'arrow_drop_down' }}
            </mat-icon>
            {{ totalVolunteersChange | number:'1.1-1' }}%
            <span class="metric-note">{{ 'volunteers.sinceLastMonth' | translate }}</span>
          </div>
        </div>

        <div class="metric-card">
          <div class="metric-title">{{ 'volunteers.newThisMonth' | translate }}</div>
          <div class="metric-value">
            <mat-icon class="metric-icon">favorite</mat-icon>
            <span>{{ newThisMonth }}</span>
          </div>
          <div class="metric-change" [ngClass]="{'positive': newThisMonthChange >= 0, 'negative': newThisMonthChange < 0}">
            <mat-icon>
              {{ newThisMonthChange >= 0 ? 'arrow_drop_up' : 'arrow_drop_down' }}
            </mat-icon>
            {{ newThisMonthChange | number:'1.1-1' }}%
            <span class="metric-note">{{ 'volunteers.sinceLastMonth' | translate }}</span>
          </div>
        </div>

        <div class="metric-card">
          <div class="metric-title">{{ 'volunteers.inactive' | translate }}</div>
          <div class="metric-value">
            <mat-icon class="metric-icon">schedule</mat-icon>
            <span>{{ inactiveVolunteers }}</span>
          </div>
          <div class="metric-change" [ngClass]="{'positive': inactiveVolunteersChange >= 0, 'negative': inactiveVolunteersChange < 0}">
            <mat-icon>
              {{ inactiveVolunteersChange >= 0 ? 'arrow_drop_up' : 'arrow_drop_down' }}
            </mat-icon>
            {{ inactiveVolunteersChange | number:'1.1-1' }}%
            <span class="metric-note">{{ 'volunteers.sinceLastMonth' | translate }}</span>
          </div>
        </div>

      </div>
    </div>

    <div class="volunteers-table-panel mat-elevation-z4">
      <div class="volunteers-toolbar">
        <mat-form-field appearance="outline" class="search-input">
          <mat-label>{{ 'volunteers.search' | translate }}</mat-label>
          <input matInput [(ngModel)]="searchText" (input)="applyLocalFilters()" [placeholder]="'volunteers.searchPlaceholder' | translate" />
        </mat-form-field>

        <button mat-icon-button color="primary" (click)="openFilterDialog()">
          <mat-icon>filter_list</mat-icon>
        </button>

        <button mat-raised-button color="accent" (click)="onCreateVolunteer()">
          <mat-icon>add</mat-icon> {{ 'volunteers.createVolunteer' | translate }}
        </button>
      </div>

      <div class="volunteers-table-container">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z1" style="width: 100%; cursor: pointer;">
          <ng-container matColumnDef="fullName">
            <th mat-header-cell *matHeaderCellDef >{{ 'volunteers.name' | translate }}</th>
            <td mat-cell *matCellDef="let volunteer" (click)="selectVolunteer(volunteer)">{{ volunteer.firstName }} {{ volunteer.lastName }}</td>
          </ng-container>

          <ng-container matColumnDef="age">
            <th mat-header-cell *matHeaderCellDef>{{ 'volunteers.age' | translate }}</th>
            <td mat-cell *matCellDef="let volunteer" (click)="selectVolunteer(volunteer)">{{ calculateAge(volunteer.dateOfBirth) || 'N/A' }}</td>
          </ng-container>

          <ng-container matColumnDef="profession">
            <th mat-header-cell *matHeaderCellDef style="padding:1rem">{{ 'volunteers.profession' | translate }}</th>
            <td mat-cell *matCellDef="let volunteer" (click)="selectVolunteer(volunteer)"  style="padding:1rem">{{ volunteer.profession || 'N/A' }}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: displayedColumns;"
            (click)="selectVolunteer(row)"
            class="custom-row"
            [class.selected-row]="row === selectedRow"
          ></tr>
        </table>
      </div>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

      <div *ngIf="dataSource.data.length === 0" class="no-results">
        {{ 'common.noResults' | translate }}
      </div>
    </div>


    <div *ngIf="selectedVolunteer" class="volunteer-side-panel">

      <div class="volunteer-detail-panel mat-elevation-z4">
        <div class="profile-header">
          <mat-icon style="margin: 8px 0;">assignment_ind</mat-icon>
          <div class="info">
            <h3>{{ selectedVolunteer.firstName }} {{ selectedVolunteer.lastName }}</h3>
            <p><strong>DNI:</strong> {{ selectedVolunteer.dni }}</p>
            <p><strong>{{ 'volunteers.email' | translate }}:</strong> {{ selectedVolunteer.email }}</p>
            <p><strong>{{ 'volunteers.phone' | translate }}:</strong> {{ selectedVolunteer.phoneNumber }}</p>
            <p><strong>{{ 'volunteers.profession' | translate }}:</strong> {{ selectedVolunteer.profession || 'N/A' }}</p>
            <p><strong>{{ 'volunteers.dateOfBirth' | translate }}:</strong> {{ selectedVolunteer.dateOfBirth | date:'yyyy-MM-dd' }}</p>
            <p><strong>{{ 'volunteers.address' | translate }}:</strong> {{ selectedVolunteer.address }}</p>
            <p><strong>{{ 'volunteers.status' | translate }}:</strong> {{ selectedVolunteer.active ? ('volunteers.statusActive' | translate) : ('volunteers.statusInactive' | translate) }}</p>
            <p><strong>{{ 'volunteers.organization' | translate }}:</strong> {{ selectedVolunteer.organizationId }}</p>
            <p><strong>{{ 'volunteers.registrationDate' | translate }}:</strong> {{ selectedVolunteer.registrationDate | date }}</p>
          </div>
        </div>
      </div>

      <div class="actions">
        <button mat-raised-button color="primary" (click)="openCertificatesDialog()">{{ 'volunteers.viewCertificates' | translate }}</button>
        <button mat-raised-button (click)="aproveSendEmail()" color="accent">{{ 'volunteers.sendEmail' | translate }}</button>
        <button mat-raised-button color="warn" (click)="onAddToActivity()">{{ 'volunteers.addToActivity' | translate }}</button>
        <button mat-stroked-button color="warn" (click)="onDeleteVolunteer()">{{ 'volunteers.deactivate' | translate }}</button>
      </div>

      <div class="volunteer-bottom-panel">
        <div *ngIf="sendEmail; else historyPanel" class="volunteer-history-panel mat-elevation-z4">
          <div class="volunteer-email-panel mat-elevation-z4">
            <form>
              <div class="line">
                <h3 style="color:#24344C; font-size: 1.5rem">{{ 'volunteers.newEmail' | translate }}</h3>
              </div>
              <div class="line">
                <p><strong>{{ 'volunteers.to' | translate }}: {{ selectedVolunteer.email }}</strong></p>
              </div>
              <div class="line">
                <input type="text" [placeholder]="'volunteers.subject' | translate">
              </div>
              <div class="line">
                <textarea name="description"></textarea>
              </div>
              <button mat-raised-button (click)="fireNotification()" color="accent" type="button">{{ 'volunteers.send' | translate }}</button>
            </form>
          </div>
        </div>
      </div>

        <ng-template #historyPanel>
          <div class="volunteer-history-panel mat-elevation-z4">
            <h3>{{ 'volunteers.activityHistory' | translate }}</h3>
            <p>{{ 'volunteers.noActivity' | translate }}</p>
          </div>
        </ng-template>
      </div>
    </div>

  </div>

