<div class="login-backdrop"></div>

<div class="register-container">
  <h2>{{ 'register.title' | translate }}</h2>

  <div class="form-grid">
    <mat-form-field appearance="outline">
      <mat-label>{{ 'register.username' | translate }}</mat-label>
      <input matInput [(ngModel)]="username" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{ 'register.email' | translate }}</mat-label>
      <input matInput type="email" [(ngModel)]="email" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{ 'register.phone' | translate }}</mat-label>
      <input matInput [(ngModel)]="phoneNumber" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{ 'register.pfp' | translate }}</mat-label>
      <input matInput [(ngModel)]="profilePictureUrl" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{ 'register.banner' | translate }}</mat-label>
      <input matInput [(ngModel)]="bannerPictureUrl" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{ 'register.description' | translate }}</mat-label>
      <input matInput [(ngModel)]="description" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{ 'register.plan' | translate }}</mat-label>
      <mat-select [(ngModel)]="plan" name="plan">
        <mat-option value="Gratis">{{ 'register.plan.free' | translate }}</mat-option>
        <mat-option value="Premium">{{ 'register.plan.premium' | translate }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{ 'register.password' | translate }}</mat-label>
      <input matInput type="password" [(ngModel)]="password" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{ 'register.confirm-password' | translate }}</mat-label>
      <input matInput type="password" [(ngModel)]="confirmPassword" />
    </mat-form-field>
  </div>

  <div class="button-group">
    <button class="cancel" mat-stroked-button (click)="goToLogin()">
      {{ 'register.cancel' | translate }}
    </button>
    <button mat-flat-button (click)="registerUser()">
      {{ 'register.submit' | translate }}
    </button>
  </div>
</div>

<div style="height: 10%;"></div>
