.details-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  background-color: #f9f9f9;
  border-bottom: 1px solid #ddd;
}


.details-header {
  background-color: #f9f9f9;
}
.details-container {
  display: flex;
  gap: 30px;
  max-width: 90%;       /* <= Panel más contenido */
  margin: 30px auto;        /* Centrado en pantalla */
  padding: 30px;
  background-color: #9BD0DF50;
  border-radius: 16px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);

}

.left-buttons button {
  margin-right: 10px;
}

.right-buttons {
  display: flex;
  align-items: center;
}

.left-panel {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.main-image {
  width: 100%;
  height: 300px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.main-image img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Ajusta la imagen dentro del contenedor */
  border-radius: 12px;
}

/* Carrusel */
.carousel {
  display: flex;
  align-items: center;
  width: 100%;
  overflow-x: auto;
  padding-bottom: 0.5rem;
  scrollbar-width: thin;
  scrollbar-color: #3f51b5 #f0f0f0;
}

.carousel::-webkit-scrollbar {
  height: 8px; /* Altura de la scrollbar */
}
.carousel::-webkit-scrollbar-track {
  background: #f0f0f0;
}

.carousel::-webkit-scrollbar-thumb {
  background: #3f51b5;
  border-radius: 10px;
}



/* Contenedor del carrusel */
.thumbnail-container {
  display: flex;
  gap: 1rem;
  flex-wrap: nowrap;
  width: fit-content;
}

/* Miniaturas del carrusel */
.thumbnail {
  flex: 0 0 auto;
  width: 110px;
  height: 110px;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid transparent;
  transition: border 0.3s, transform 0.3s ease;
}

/* Miniaturas seleccionadas */
.thumbnail.selected {
  border-color: #3f51b5; /* Color de la miniatura seleccionada */
  transform: scale(1.01); /* Aumentar el tamaño de la miniatura seleccionada */
}

.thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

/* PANEL DERECHO: Detalles de la actividad */
.right-panel {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

h2, h3, h4 {
  color: #0C7987;
}

.datetime, .location {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #555;
}

.clock {
}

.description-panel {
  border-radius: 8px;
  margin-top: 10px;
}

.details-columns {
  display: flex;
  justify-content: space-between;
}

.details-columns div {
  flex: 1;
}
p, li {
  line-height: 1.8;
}




