<!--
Description: Displays detailed information about a selected activity including images, description, instructions, purpose, and navigation buttons.
Author: Cassius Martel
-->

<div class="details-header" *ngIf="activity">
  <div class="the-buttons" *ngIf="activity">
    <button mat-icon-button [routerLink]="['/dashboard']" matTooltip="{{ 'ACTIVITY.BACK_TO_DASHBOARD' | translate }}">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <button mat-button [routerLink]="['/activity', activity.actividad_id]">
      {{ 'ACTIVITY.DETAILS' | translate }}
    </button>

    <button mat-button [routerLink]="['/registered', activity.actividad_id]">
      {{ 'ACTIVITY.REGISTERED_VOLUNTEERS' | translate }}
    </button>

    <button
      mat-icon-button
      [routerLink]="['/edit-activity', activity.actividad_id]"
      matTooltip="{{ 'ACTIVITY.EDIT_ACTIVITY' | translate }}"
    >
      <mat-icon>edit</mat-icon>
    </button>
  </div>
</div>

<div class="details-container" *ngIf="activity">
  <div class="left-panel">
    <div class="main-image" *ngIf="selectedImage">
      <img [src]="selectedImage" alt="{{ 'ACTIVITY.SELECTED_IMAGE_ALT' | translate }}" />
    </div>

    <div class="carousel">
      <div class="thumbnail-container">
        <div
          class="thumbnail"
          *ngFor="let img of activity.imagenes; let i = index"
          [class.selected]="img === selectedImage"
          (click)="selectImage(img)"
        >
          <img [src]="img" alt="{{ 'ACTIVITY.THUMBNAIL_ALT' | translate }}" />
        </div>
      </div>
    </div>
  </div>

  <div class="right-panel">
    <h2>{{ activity.titulo }}</h2>
    <div class="datetime">
      <mat-icon>calendar_today</mat-icon>
      <span>{{ activity.fecha }}</span>
      <mat-icon class="clock">access_time</mat-icon>
      <span>{{ activity.horaInicio }} - {{ activity.horaFin }}</span>
    </div>
    <div class="location">
      <mat-icon>location_on</mat-icon>
      <span>{{ activity.ubicacion }}</span>
    </div>

    <div class="description-panel">
      <h3>{{ 'ACTIVITY.DESCRIPTION' | translate }}</h3>
      <span>{{ activity.descripcion }}</span>
    </div>

    <div class="details-columns">
      <div class="instructions-panel">
        <h4>{{ 'ACTIVITY.INSTRUCTIONS' | translate }}</h4>
        <span>{{ activity.instrucciones }}</span>
      </div>
      <div class="purpose-panel">
        <h4>{{ 'ACTIVITY.PURPOSE' | translate }}</h4>
        <span>{{ activity.proposito }}</span>
      </div>
    </div>
  </div>
</div>
