
<div class="dashboard-header">
  <h2>Activity Dashboard</h2>
  <div class="dashboard-actions">
    <button mat-stroked-button color="primary" [routerLink]="['/create-activity']">
      <mat-icon>add</mat-icon> {{ 'create' | translate }}
    </button>
    <button mat-stroked-button color="accent">
      <mat-icon>calendar_today</mat-icon> {{ 'calendar' | translate }}
    </button>
  </div>
</div>

<div class="dashboard-card">
  <div class="activities-container">
    <div class="activity-row" *ngFor="let activity of activities">
      <div class="activity-card">
        <img [src] = "activity.dashboardPicture" alt="{{ activity.title }}" class="activity-image" />
        <div class="activity-info">
          <h3>{{ activity.title }}</h3>
          <p>{{ activity.date }} — {{ activity.startTime }} to {{ activity.endTime }}</p>
          <button mat-button color="primary" [routerLink]="['/activity', activity.id]">
            View More <mat-icon>arrow_forward</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
