/* Encabezado del dashboard o voluntarios */
.dashboard-header,
.volunteers-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f9f9f9;
  max-width: 90%;
  border-radius: 8px;
  margin: 0 auto;
}

.dashboard-header h2,
.volunteers-header h2 {
  margin: 0;
  font-size: 32px;
  color: #0C7987;
  font-weight: bolder;
}

/* Botones del encabezado */
.dashboard-actions button {
  color: #3C9FB9;
  border: none;
  background-color: transparent;
  box-shadow: none;
  font-weight: bold;
}

.dashboard-actions mat-icon {
  color: #3C9FB9;
}

/* Tarjeta contenedora principal */
.dashboard-card,
.volunteers-card {
  padding: 20px;
  border-radius: 8px;
  background-color: rgba(155, 208, 223, 0.5);
  max-width: 90%;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  overflow-y: auto;
}

/* Actividades */
.activities-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
  padding: 20px;
  box-sizing: border-box;
  justify-content: center;
}

.activity-card {
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 10px 20px 10px;
  height: 225px;
}

.activity-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.activity-info {
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  height: 100%;
}

.activity-info h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 5px 0;
}

.activity-info p {
  font-size: 14px;
  color: #555;
  margin: 0;
}

.activity-info button {
  margin-top: auto;
  color: #3C9FB9;
  align-self: flex-end;
}

.activity-info mat-icon {
  margin-left: 5px;
  color: #3C9FB9;
}

/* Voluntarios - filtros y tabla */
.volunteers-search-filters {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 20px;
}

/* Tabla responsive */
table {
  width: 100%;
  border-spacing: 0;
}

.mat-header-cell,
.mat-cell {
  padding: 8px 16px;
}
