<div class="page-header">
  <h2>My Volunteers</h2>
</div>

<div class="profile-container">
  <div class="banner">
    <img class="cover" [src]="user?.banner" alt="Banner">
    <div class="profile-icon-wrapper">
      <img class="profile-icon" [src]="user?.pfp" alt="Icono">
    </div>
    <div class="description-box">
      <strong>Descripción:</strong>
      <div *ngIf="!editMode">
        <p>{{ user?.description }}</p>
      </div>
      <div *ngIf="editMode">
        <textarea [(ngModel)]="editedUser.description"></textarea>
      </div>
    </div>
  </div>

  <div class="profile-content">
    <div class="personal-info">
      <h3>Información Personal</h3>

      <mat-divider></mat-divider>

      <h4>Nombre de Usuario:
        <span *ngIf="!editMode">{{ user?.username }}</span>
        <input *ngIf="editMode" [(ngModel)]="editedUser.username">
      </h4>

      <h4>Correo electrónico:
        <span *ngIf="!editMode">{{ user?.email }}</span>
        <input *ngIf="editMode" [(ngModel)]="editedUser.email">
      </h4>

      <h4>Contraseña:
        <span *ngIf="!editMode">**********</span>
        <input *ngIf="editMode" type="password" [(ngModel)]="editedUser.password">
      </h4>

      <h4>Número de teléfono:
        <span *ngIf="!editMode">{{ user?.phone }}</span>
        <input matInput *ngIf="editMode" [(ngModel)]="editedUser.phone">
      </h4>

      <h4>Plan:
        <span *ngIf="!editMode">{{ user?.plan }}</span>
        <select *ngIf="editMode" [(ngModel)]="editedUser.plan">
          <option value="Gratis">Gratis</option>
          <option value="Premium">Premium</option>
        </select>
      </h4>

      <div class="button-group">
        <button *ngIf="!editMode" class="edit-btn" (click)="toggleEdit()">✏️ Editar detalles</button>
        <div *ngIf="editMode">
          <button class="edit-btn" (click)="saveChanges()">💾 Guardar</button>
          <button class="logout-btn" (click)="cancelEdit()">❌ Cancelar</button>
        </div>
        <button class="logout-btn" (click)="logout()">⛔ Cerrar Sesión</button>
      </div>

    </div>
    <div class="config-info">
      <h3>Configuration</h3>

      <mat-divider></mat-divider>



    </div>
  </div>


</div>
