<!--
  Este componente representa la vista de perfil de usuario en la aplicación.
  El usuario puede cambiar su información y preferencias
-->

<div class="page-header">
  <h2>{{ 'profile.title' | translate }}</h2>
</div>

<div class="profile-container">
  <div class="banner">
    <img class="cover" [src]="user?.banner" alt="Banner">
    <div class="profile-icon-wrapper">
      <img class="profile-icon" [src]="user?.pfp" alt="Icono">
    </div>
    <div class="description-box">
      <strong>{{ 'profile.description-label' | translate }}:</strong>
      <div *ngIf="!editMode">
        <p>{{ user?.description }}</p>
      </div>
      <div *ngIf="editMode">
        <textarea [(ngModel)]="editedUser.description"></textarea>
      </div>
    </div>
  </div>

  <div class="profile-content">
    <div class="personal-info">
      <h3>{{ 'profile.personal-info' | translate }}</h3>
      <mat-divider></mat-divider>

      <h4>{{ 'profile.username' | translate }}:
        <span *ngIf="!editMode">{{ user?.username }}</span>
        <input *ngIf="editMode" [(ngModel)]="editedUser.username">
      </h4>

      <h4>{{ 'profile.email' | translate }}:
        <span *ngIf="!editMode">{{ user?.email }}</span>
        <input *ngIf="editMode" [(ngModel)]="editedUser.email">
      </h4>

      <h4>{{ 'profile.password' | translate }}:
        <span *ngIf="!editMode">**********</span>
        <input *ngIf="editMode" type="password" [(ngModel)]="editedUser.password">
      </h4>

      <h4>{{ 'profile.phone' | translate }}:
        <span *ngIf="!editMode">{{ user?.phone }}</span>
        <input matInput *ngIf="editMode" [(ngModel)]="editedUser.phone">
      </h4>

      <h4>{{ 'profile.plan' | translate }}:
        <span *ngIf="!editMode">{{ user?.plan }}</span>
        <select *ngIf="editMode" [(ngModel)]="editedUser.plan">
          <option value="Gratis">{{ 'profile.free' | translate }}</option>
          <option value="Premium">{{ 'profile.premium' | translate }}</option>
        </select>
      </h4>
    </div>

    <div class="config-info">
      <h3>{{ 'profile.config' | translate }}</h3>
      <mat-divider></mat-divider>

      <h4>{{ 'profile.language' | translate }}:
        <span *ngIf="!editMode">{{ user?.language }}</span>
        <select *ngIf="editMode" [(ngModel)]="editedUser.language">
          <option value="Español">Español</option>
          <option value="English">English</option>
        </select>
      </h4>

      <h4>{{ 'profile.notifications' | translate }}:
        <span *ngIf="!editMode">{{ user?.notifications }}</span>
        <select *ngIf="editMode" [(ngModel)]="editedUser.notifications">
          <option value="All">{{ 'profile.notif-all' | translate }}</option>
          <option value="Silenced">{{ 'profile.notif-silenced' | translate }}</option>
          <option value="Mentions">{{ 'profile.notif-mentions' | translate }}</option>
        </select>
      </h4>

      <h4>{{ 'profile.timezone' | translate }}:
        <span *ngIf="!editMode">{{ user?.timezone }}</span>
        <select *ngIf="editMode" [(ngModel)]="editedUser.timezone">
          <option value="GMT-5">GMT-5</option>
          <option value="GMT-4">GMT-4</option>
          <option value="GMT-3">GMT-3</option>
        </select>
      </h4>

      <h4>{{ 'profile.inscriptions' | translate }}:
        <span *ngIf="!editMode">{{ user?.inscriptions }}</span>
        <select *ngIf="editMode" [(ngModel)]="editedUser.inscriptions" >
          <option value="Manual">{{ 'profile.manual' | translate }}</option>
          <option value="Automatic">{{ 'profile.automatic' | translate }}</option>
        </select>
      </h4>
    </div>
  </div>

  <div class="button-group">
    <button *ngIf="!editMode" class="edit-btn" (click)="toggleEdit()" >
      ✏️ {{ 'profile.edit-btn' | translate }}
    </button>
    <div *ngIf="editMode">
      <button class="edit-btn" (click)="saveChanges()" >
        💾 {{ 'profile.save-btn' | translate }}
      </button>
      <button class="logout-btn" (click)="cancelEdit()" >
        ❌ {{ 'profile.cancel-btn' | translate }}
      </button>
    </div>
    <button class="logout-btn" (click)="logout()" >
      ⛔ {{ 'profile.logout-btn' | translate }}
    </button>
  </div>
</div>
