/*
 * Description: Styles for the main toolbar, including layout, colors, logo, title, and interactive buttons.
 * Author: Cassius Martel
 */


mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #24344C;
  color: white;
  height: 72px;
  padding: 0 24px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-img {
  height: 40px;
  margin-right: 10px;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.toolbar-right {
  display: flex;
  align-items: center;
  gap: 24px;
}

.toolbar-right button {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.3s ease, transform 0.3s ease;
  vertical-align: middle;
  font-size: 16px;
}

.toolbar-right button:hover {
  color: #9BD0DF;
  transform: scale(1.1);
}

.toolbar-right button:focus {
  background-color: #9BD0DF;
  color:#24344C;
  font-weight: bolder;
}

