<mat-toolbar color="primary">
  <div class="logo" (click)="goToDashboard()" style="cursor: pointer;">
    <img src="/assets/Logo_Icon.png" alt="VolunTrack Logo" class="logo-img" />
    <span class="title">VolunTrack</span>
  </div>

  <div class="toolbar-right">
    <button mat-button (click)="goToDashboard()">Dashboard</button>
    <button mat-button (click)="goToVolunteers()">My Volunteers</button>

    <button mat-icon-button (click)="openNotifications()">
      <mat-icon>notifications</mat-icon>
    </button>
    <button mat-icon-button (click)="goToProfile()">
      <mat-icon>account_circle</mat-icon>
    </button>
  </div>
</mat-toolbar>
